
@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Semibold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-ExtraBold.ttf');
    font-weight: 800;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0.5rem;
    background: #293819;
  
    font-family: 'Benzin';
    font-size: 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

p {
    letter-spacing: 0.1em;
    background: var(--clr-text);
    padding: 1rem;
    color: #fff;
    border-radius: 0.25rem;
}

.error {
    color: #758268;
}